@tailwind base;
@tailwind components;
@tailwind utilities;

/* insane custom stuff necessary to style svelte-splitpanes */
.splitpanes.custom-theme .splitpanes__pane {
	@apply bg-base-100 p-2;
}

.splitpanes.custom-theme .splitpanes__splitter {
	@apply bg-base-200 flex-shrink-0 relative hover:bg-primary transition-all duration-300;
	/* box-sizing: border-box; */
}

.splitpanes.custom-theme .splitpanes__splitter:first-child {
	cursor: auto;
}

.custom-theme.splitpanes .splitpanes .splitpanes__splitter {
	z-index: 1;
}
.custom-theme.splitpanes--vertical > .splitpanes__splitter,
.custom-theme .splitpanes--vertical > .splitpanes__splitter {
	width: 3px;
	cursor: col-resize;
}

.custom-theme.splitpanes--vertical > .splitpanes__splitter:before,
.custom-theme .splitpanes--vertical > .splitpanes__splitter:before {
	margin-left: -2px;
}
.custom-theme.splitpanes--vertical > .splitpanes__splitter:after,
.custom-theme .splitpanes--vertical > .splitpanes__splitter:after {
	margin-left: 1px;
}
.custom-theme.splitpanes--horizontal > .splitpanes__splitter,
.custom-theme .splitpanes--horizontal > .splitpanes__splitter {
	height: 3px;
	cursor: row-resize;
}
.custom-theme.splitpanes--horizontal > .splitpanes__splitter:before,
.custom-theme .splitpanes--horizontal > .splitpanes__splitter:before {
	margin-top: -2px;
}
.custom-theme.splitpanes--horizontal > .splitpanes__splitter:after,
.custom-theme .splitpanes--horizontal > .splitpanes__splitter:after {
	margin-top: 1px;
}

.feather {
	width: 20px;
	height: 20px;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}
